# Node
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/cache/
.sass-cache/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs
.idea/
.vscode/
.history/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db
